@import "_vars.scss";
@media (max-width: 1150px) {
    .footer_inner {
        flex-wrap: wrap;
    }
    .footer_col-adress {
        margin-bottom: 30px;
        min-width: 100%;
    }
    .header_text {
        display: none;
    }
}
@media (max-width: 900px) {
    .footer_col-social {
        min-width: 100%;
        margin-top: 30px;
    }
    .footer_inner {
        justify-content: flex-start;
    }
    .footer_col-menu {
        & + & {
            margin-left: 40px;
        }
    }
}
@media (max-width: 840px) {
    .menu_list {
        display: none;
        background-color: $bg;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        z-index: 1;
        padding-bottom: 30px;
        text-align: center;
        a{
            display: block;
            padding: 10px 0;
            border-bottom: 1px solid $grey;
        }
        li{
            display: block;
            & + li{
                margin-left: 0;
            }
            &:first-child{
                border-top: 1px solid $grey;
            }
        }
    }
    .menu_btn {
        display: block;
        width: 30px;
        cursor: pointer;
        div {
            background-color: #fff;
            height: 3px;
            & + div {
                margin-top: 5px;
            }
        }
    }
}
@media (max-width: 640px) {
    .notification_box,
    .message_box {
        display: none;
    }
    .circle_menu{
        right: auto;
    }
}
@media (max-width: 540px) {
    .footer_col {
        min-width: 100%;
    }
    .footer_col-menu {
        & + & {
            margin-left: 0;
            margin-top: 30px;
        }
    }
}
@media (max-width: 520px) {
    .header_btn-menu {
        display: block;
        width: 70px;
        height: 70px;
        background-color: $bg;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 36px;
            color: #fff;
        }
    }
    .header_box {
        position: absolute;
        transition: all 0.5s;
        background-color: $grey;
        left: 100%;
        right: -100%;
        z-index: 2;
        height: 70px;
        top: 0;
        &.active {
            right: 50px;
            left: 70px;
        }
    }
    .header_logo {
        margin-left: 60px;
    }
    .menu_btn {
        position: absolute;
        top: 24px;
        left: 10px;
        div {
            background-color: $bg;
        }
    }
    .header_top-inner {
        height: 70px;
    }
    .circle_menu {
        top: 52px;
    }
    .user_menu{
        top: 54px;
    }
    .menu_list{
        top: 70px;
    }
}
@media (max-width: 495px){
    .user_info{
        display: none;
    }
    .user_images{
        margin-right: 0;
    }
}
@media (max-width: 390px){
    .header_box {
        &.active {
            left: 47px;
        }
    }
    .basket_box{
        margin-left: 0;
    }
}
@media (max-width: 360px){
    .user{
        margin-right: 0;
    }
    .basket{
        margin-right: 10px;
    }
    .header_logo{
        margin-left: 50px;
    }
    .circle_menu{
        left: -20px;
    }
}
@media (min-width: 841px) {
    .menu_list {
        display: block !important;
    }
}
